*{
	background-color: black;
	color: limegreen;
	font-family: Cutive Mono,Courier New,Consolas,monospace!important;
	cursor: text;
}
.info{
	color: darkgray;
}
.line{
	float: left;
	display: inline-block;
}


/*标签颜色*/
.blue{
	color: skyblue;
	padding-right: 30px;
}
.white{
	color: white;
	padding-right: 30px;
}
.green{
	color: lime;
	padding-right: 30px;
}
.red{
	color: red;
	padding-right: 30px;
}